In [212]:
from rdflib import Graph, URIRef, Literal, BNode, plugin, Namespace
from rdflib.serializer import Serializer
from collections import defaultdict, OrderedDict
import pandas as pd
import json
import requests
from io import StringIO

In [213]:
class Schema():
    def __init__(self, debug=False):
        self.forbidden = ["subject", "language", "authorIdentifierScheme", "contributorType", "publicationIDType", "DatasetField"]
        self.datadict = {}
        self.g = Graph()
    
    def load_metadata_schema(self, schemaURL, schemablock=False):
        keynameID = 1        
        if not schemablock:
            schemablock = 'default'
        schema = requests.get(schemaURL).text.split('\n')
        if schemablock == 'citation':
            schema = schema[2:]
        else:
            schema = schema[2:]
        dataschema = []
    
        for i in range(0, len(schema)):
            item = schema[i]
            elements = item.split('\t')
            try:
                if elements[keynameID] not in forbidden:
                    if i == len(schema):
                        dataschema.append(item)
                    else:
                        dataschema.append(item + "\n")
            except:
                skip = elements
        schemaIO = StringIO(''.join(dataschema))
        #print(dataschema)
        data = pd.read_csv(schemaIO, sep="\t", error_bad_lines=False)
        self.datadict[schemablock] = data
        return self.datadict

In [214]:
schemaURL = 'https://raw.githubusercontent.com/IQSS/dataverse/develop/scripts/api/data/metadatablocks/citation.tsv'
schema = Schema()
schemapd = schema.load_metadata_schema(schemaURL, 'citation')
schemaURL = 'https://raw.githubusercontent.com/IQSS/dataverse/develop/scripts/api/data/metadatablocks/biomedical.tsv'
schemapd = schema.load_metadata_schema(schemaURL, 'biomedical')
schemapd['citation']

b'Skipping line 71: expected 17 fields, saw 18\n'

,#datasetField,name,title,description,watermark,fieldType,displayOrder,displayFormat,advancedSearchField,allowControlledVocabulary,allowmultiples,facetable,displayoncreate,required,parent,metadatablock_id,termURI
0,NaN,title,Title,Full title by which the Dataset is known.,Enter title...,text,0,NaN,True,False,False,False,True,True,NaN,citation,http://purl.org/dc/terms/title
1,NaN,subtitle,Subtitle,A secondary title used to amplify or state cer...,NaN,text,1,NaN,False,False,False,False,False,False,NaN,citation,NaN
2,NaN,alternativeTitle,Alternative Title,A title by which the work is commonly referred...,NaN,text,2,NaN,False,False,False,False,False,False,NaN,citation,http://purl.org/dc/terms/alternative
3,NaN,alternativeURL,Alternative URL,"A URL where the dataset can be viewed, such as...","Enter full URL, starting with http://",url,3,"<a href=""#VALUE"" target=""_blank"">#VALUE</a>",False,False,False,False,False,False,NaN,citation,https://schema.org/distribution
4,NaN,otherId,Other ID,Another unique identifier that identifies this...,NaN,none,4,:,False,False,True,False,False,False,NaN,citation,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,NaN,relatedDatasets,Related Datasets,"Any Datasets that are related to this Dataset,...",NaN,textbox,72,NaN,False,False,True,False,False,False,NaN,citation,http://purl.org/dc/terms/relation
68,NaN,otherReferences,Other References,Any references that would serve as background ...,NaN,text,73,NaN,False,False,True,False,False,False,NaN,citation,http://purl.org/dc/terms/references
69,NaN,originOfSources,Origin of Sources,"For historical materials, information about th...",NaN,textbox,75,NaN,False,False,False,False,False,False,NaN,citation,NaN
70,NaN,characteristicOfSources,Characteristic of Sources Noted,Assessment of characteristics and source mater...,NaN,textbox,76,NaN,False,False,False,False,False,False,NaN,citation,NaN
71,NaN,accessToSources,Documentation and Access to Sources,Level of documentation of the original sources.,NaN,textbox,77,NaN,False,False,False,False,False,False,NaN,citation,NaN

In [215]:
schemapd['biomedical']

,#datasetField,name,title,description,watermark,fieldType,displayOrder,displayFormat,advancedSearchField,allowControlledVocabulary,allowmultiples,facetable,displayoncreate,required,parent,metadatablock_id
0,NaN,studyDesignType,Design Type,Design types that are based on the overall exp...,NaN,text,0.0,NaN,True,True,True,True,False,False,NaN,biomedical
1,NaN,studyOtherDesignType,Other Design Type,"If Other was selected in Design Type, list any...",NaN,text,1.0,NaN,True,False,True,True,False,False,NaN,biomedical
2,NaN,studyFactorType,Factor Type,Factors used in the Dataset.,NaN,text,2.0,NaN,True,True,True,True,False,False,NaN,biomedical
3,NaN,studyOtherFactorType,Other Factor Type,"If Other was selected in Factor Type, list any...",NaN,text,3.0,NaN,True,False,True,True,False,False,NaN,biomedical
4,NaN,studyAssayOrganism,Organism,The taxonomic name of the organism used in the...,NaN,text,4.0,NaN,True,True,True,True,False,False,NaN,biomedical
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
290,NaN,studyAssayPlatform,Xevo G2 QTOF (Waters),XEVO_G2_QTOF,179.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
291,NaN,studyAssayPlatform,Xevo QTof MS (Waters),XEVO_QTOF_MS,180.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
292,NaN,studyAssayPlatform,Xevo TQ MS (Waters),XEVO_TQ_MS,181.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
293,NaN,studyAssayPlatform,Xevo TQ-S (Waters),XEVO_TQ_S,182.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
294,NaN,studyAssayPlatform,Other,OTHER_PLATFORM,183.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN